<div class="container p-0">
    <div class="card px-4">
      <p class="h8 py-3">Payment Details</p>
      <div class="row gx-3">
        <div class="col-6" >
          <div class="d-flex flex-column">
            <p class="text mb-1" >Person Name</p> <input class="form-control mb-3" placeholder="Enter name" #myInput (input)="onNameChange(myInput.value)">
        </div>
        </div>
        <div class="col-6" >
          <div class="d-flex flex-column">
            <p class="text mb-1" ><b>Person Name</b></p>
            <div><p>{{name | titlecase}}</p></div>
        </div>
        </div>
      </div>

      <div class="row gx-3">
        <div class="col-6" >
          <div class="d-flex flex-column">
            <p class="text mb-1" >Card Number</p> <input class="form-control mb-3" placeholder="Enter card number" #myCardInput (input)="onCardNumberChange(myCardInput.value)">
        </div>
        </div>
        <div class="col-6" >
          <div class="d-flex flex-column">
            <p class="text mb-1" ><b>Card Number</b></p>
            <div *ngIf="cardNumber"><p>{{cardNumber | number: '14.0-0'}}</p></div>
        </div>
        </div>
      </div>

      <div class="row gx-3">
        <div class="col-6" >
          <div class="d-flex flex-column">
            <p class="text mb-1" >Expiry Date</p> <input class="form-control mb-3" type="date" placeholder="Enter expiry date" #myDateInput (input)="onDateChange(myDateInput.value)">
        </div>
        </div>
        <div class="col-6" >
          <div class="d-flex flex-column">
            <p class="text mb-1" ><b>Expiry Date</b></p>
            <div *ngIf="formattedDate"><p>{{formattedDate | date: 'MMMM / y'}}</p></div>
        </div>
        </div>
      </div>

      <div class="row gx-3">
        <div class="col-6" >
          <div class="d-flex flex-column">
            <p class="text mb-1" >CVV/CVC</p> <input class="form-control mb-3" placeholder="Enter CVV/CVC number" #myCvvInput (input)="onCvvNumberChange(myCvvInput.value)">
        </div>
        </div>
        <div class="col-6" >
          <div class="d-flex flex-column">
            <p class="text mb-1" ><b>CVV/CVC</b></p>
            <div *ngIf="cvvNumber"><p>{{cvvNumber | number: '3.0-0'}}</p></div>
        </div>
        </div>
      </div>

      <div class="row gx-3">
        <div class="col-6" >
          <div class="d-flex flex-column">
            <p class="text mb-1" >Payable Amount</p> <input class="form-control mb-3" placeholder="Enter payable amount" #myAmountInput (input)="onAmountChange(myAmountInput.value)">
        </div>
        </div>
        <div class="col-6" >
          <div class="d-flex flex-column">
            <p class="text mb-1" ><b>Payable Amount</b></p>
            <div *ngIf="amount"><p>{{amount | currency: 'JPY'}}</p></div>
        </div>
        </div>
      </div>

      <div class="row gx-3">
        <div class="col-6" >
          <div class="d-flex flex-column">
            <p class="text mb-1" >Conversion of Payable amount</p> <input class="form-control mb-3" placeholder="Enter conversion amount" #myConvertedAmountInput (input)="onConvertedCurrencyChange(myConvertedAmountInput.value)">
        </div>
        </div>
        <div class="col-6" >
          <div class="d-flex flex-column">
            <p class="text mb-1" ><b>Converted amount in Taka</b></p>
            <div *ngIf="convertedCurrency"><p>{{convertedCurrency | convert}}</p></div>
        </div>
        </div>
      </div>
  </div>
</div>
